.App #list5 > li{
    background-color: #ebebeb31;
    max-height: 50px;
    margin-top: 0;
    padding-top: 0;
    
    overflow-y: hidden;
}
.App #list5{
    background-color: #97a7d8af;
    min-height: 250px;
}
.App{
    
    overflow-y: hidden;

}

.App .card-body{
    border-radius: 5px;
    outline: #ffeba7;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-color: #2a2b38;
    
}

.App input:-moz-placeholder {
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    outline: #ffeba7;
    color:#ffeba7;
    border: 0px;
    background-color:#102770;

}

.App input:-moz-placeholder {
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
    outline: #ffeba7;
    color:#ffeba7;
    border: 0px;
    background-color:#102770;

}

.App .form-label{
    color:#ffeba7;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 0;
}

.App #ex1 >li{
    border-start-end-radius: 10px;
    border-top-left-radius: 10px;
    background-color:#2d1977;
}

.App .nav-link{
    outline: #ffeba7;
    color: #ffeba7;
}

.App .scroll {
    max-height: 350px;
    overflow-y: auto;
    
}

.App .Update{
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);

    display: flex;
    justify-content: center;
    align-items: center;
}

.App .Update-inner {
    position: relative;
    padding: 32px;
    width:100%;
    bottom: 110px;
    max-width: 880px;
    background-color: #fff;


}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App .userName {
    position: absolute;
    margin:12px;
    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;
    top: 0px;
    right: 5%; 
    background: #20c99698;
    color:#d63384;
    border-radius: 50px;
    font-family: 'Pacifico', cursive;
    font-size: larger;
    text-transform: capitalize;
    
}

.App #emptyTodo{
    background-color: rgba(255, 255, 255, 0) !important;
}

.App .Spinner{
    position: absolute;
    margin: 1%;
    padding: 1%;
    right: 2%;
    top: 32%;
   
}

